
# BEGIN WordPress
# Директивы (строки) между `BEGIN WordPress` и `END WordPress`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /ulut.kg/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ulut.kg/index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# Директивы (строки) между `BEGIN Simply Static` и `END Simply Static`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.
<Files "C:\xampp\htdocs\ulut.kg/wp-content/uploads\simply-static\eb48dd9fa8f197d0fcd4ba3cad07683a-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static